# What is Recommendation System ?
Recommender/recommendation system is a subclass of information filtering system that seeks to predict the rating/ preference a user would give to an item.

They are primarily used in applications where a person/ entity is involved with a product/ service. To further improve their experience with this product, we try to personalize it to their needs. For this we have to look up at their past interactions with this product.

*In one line* -> **Specialized content for everyone.**

*For further info, [Wiki](https://en.wikipedia.org/wiki/Recommender_system#:~:text=A%20recommender%20system%2C%20or%20a,would%20give%20to%20an%20item.)*

## Types of Recommender System
* 1). Popularity Based
* 2). Classification Based
* 3). Content Based
* 4). Collaborative Based
* 5). Hybrid Based (Content + Collaborative)
* 6). Association Based Rule Mining

# Content based recommender system
Recommends content based on product description. Here we would convert movie titles into a vector to find its cosine similarity. Similar movie would have a high cosine similarity and thus would be recommended to the user.

# Import packages and dataset

We would use Rake package, Rake stands for Rapid Automatic Keyword Extraction algorithm which is a domain independent keyword extraction algorithm which tries to determine key phrases in a body of text by analyzing the frequency of word appearance and it's co-occurrance with other words in the text.

*Credits to -> [csurfer](https://github.com/csurfer/rake-nltk)*

In [1]:
!pip install rake_nltk

Collecting rake_nltk
  Downloading rake_nltk-1.0.4.tar.gz (7.6 kB)
Requirement already satisfied: nltk in /opt/conda/lib/python3.7/site-packages (from rake_nltk) (3.2.4)
Requirement already satisfied: six in /opt/conda/lib/python3.7/site-packages (from nltk->rake_nltk) (1.14.0)
Building wheels for collected packages: rake-nltk
  Building wheel for rake-nltk (setup.py) ... - \ | done
  Created wheel for rake-nltk: filename=rake_nltk-1.0.4-py2.py3-none-any.whl size=7819 sha256=30eed2996a42e0b155c9607f1ffb7cf4b07cb2a72f7e600b64bd5ed94e73fe8c
  Stored in directory: /root/.cache/pip/wheels/7c/d9/8a/b8a9244fa89a07f288f9fe006aafc79d93fceb58496c29b606
Successfully built rake-nltk
Installing collected packages: rake-nltk
Successfully installed rake-nltk-1.0.4

In [2]:
import pandas as pd
import numpy as np

from rake_nltk import Rake
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer #tokenizes a collection of words extracted from a text doc
from ast import literal_eval #This evaluates whether an expresion is a Python datatype or not

In [3]:
data = pd.read_csv('../input/imdb-extensive-dataset/IMDb movies.csv')
print(data.shape)
data.head()

(81273, 22)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,537,$ 2250,NaN,NaN,NaN,7.0,7.0
1,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.9,171,NaN,NaN,NaN,NaN,4.0,2.0
2,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,420,$ 45000,NaN,NaN,NaN,24.0,3.0
3,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2019,NaN,NaN,NaN,NaN,28.0,14.0
4,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,1913,"Biography, Drama",60,USA,English,Sidney Olcott,...,"R. Henderson Bland, Percy Dyer, Gene Gauntier,...","An account of the life of Jesus Christ, based ...",5.7,438,NaN,NaN,NaN,NaN,12.0,5.0

In [4]:
#There are many null values
data.isnull().sum()

imdb_title_id                0
title                        0
original_title               0
year                         0
date_published               0
genre                        0
duration                     0
country                     39
language                   755
director                    73
writer                    1493
production_company        4325
actors                      66
description               2430
avg_vote                     0
votes                        0
budget                   58469
usa_gross_income         66179
worlwide_gross_income    51381
metascore                68551
reviews_from_users        7077
reviews_from_critics     10987
dtype: int64

In [5]:
#Lets convert all Null values into 'missing value'
data = data.fillna('missing value')

### Recommend movies based on a director/ writer

In [6]:
#Recommend movies based on a director (Pls give full names)
#rec_director = input('Enter director you want to be recommended movies of: ')
rec_director = 'Christopher Nolan'
data[data['director'] == rec_director]

#Recommend movies based on a writer (Pls give full names)
#rec_writer = input('Enter writer you want to be recommended movies of: ')
#data[data['writer'] == rec_writer]

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
32413,tt0154506,Following,Following,1998,1999-11-05,"Crime, Mystery, Thriller",69,UK,English,Christopher Nolan,...,"Jeremy Theobald, Alex Haw, Lucy Russell, John ...",A young writer who follows strangers for mater...,7.5,79954,$ 6000,$ 48482,$ 48482,60,190,135
35417,tt0209144,Memento,Memento,2000,2000-10-27,"Mystery, Thriller",113,USA,English,Christopher Nolan,...,"Guy Pearce, Carrie-Anne Moss, Joe Pantoliano, ...",A man with short-term memory loss attempts to ...,8.4,1052890,$ 9000000,$ 25544867,$ 39723096,80,2166,203
38610,tt0278504,Insomnia,Insomnia,2002,2002-08-30,"Drama, Mystery, Thriller",118,"USA, UK",English,Christopher Nolan,...,"Al Pacino, Martin Donovan, Oliver 'Ole' Zemen,...",Two Los Angeles homicide detectives are dispat...,7.2,258114,$ 46000000,$ 67355513,$ 113758770,78,678,183
42664,tt0372784,Batman Begins,Batman Begins,2005,2005-06-16,"Action, Adventure",140,"USA, UK","English, Urdu, Mandarin",Christopher Nolan,...,"Christian Bale, Michael Caine, Liam Neeson, Ka...","After training with his mentor, Batman begins ...",8.2,1225020,$ 150000000,$ 206852432,$ 373413297,70,2810,310
46756,tt0468569,The Dark Knight,The Dark Knight,2008,2008-07-24,"Action, Crime, Drama",152,"USA, UK","English, Mandarin",Christopher Nolan,...,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",When the menace known as the Joker wreaks havo...,9.0,2134569,$ 185000000,$ 535234033,$ 1004934033,84,6344,418
47427,tt0482571,The Prestige,The Prestige,2006,2006-11-10,"Drama, Mystery, Sci-Fi",130,"USA, UK",English,Christopher Nolan,...,"Hugh Jackman, Christian Bale, Michael Caine, P...","After a tragic accident, two stage magicians e...",8.5,1095249,$ 40000000,$ 53089891,$ 109676311,66,1285,368
48940,tt0816692,Interstellar,Interstellar,2014,2014-11-07,"Adventure, Drama, Sci-Fi",169,"USA, UK, Canada",English,Christopher Nolan,...,"Ellen Burstyn, Matthew McConaughey, Mackenzie ...",A team of explorers travel through a wormhole ...,8.6,1348155,$ 165000000,$ 188020017,$ 677471339,74,3571,612
55050,tt1345836,The Dark Knight Rises,The Dark Knight Rises,2012,2012-07-20,"Action, Thriller",164,"UK, USA","English, Arabic",Christopher Nolan,...,"Christian Bale, Gary Oldman, Tom Hardy, Joseph...",Eight years after the Joker's reign of anarchy...,8.4,1421494,$ 250000000,$ 448139099,$ 1081041287,78,2878,837
55287,tt1375666,Inception,Inception,2010,2010-07-16,"Action, Adventure, Sci-Fi",148,"USA, UK","English, Japanese, French",Christopher Nolan,...,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...",A thief who steals corporate secrets through t...,8.8,1892929,$ 160000000,$ 292576195,$ 829895144,74,3439,462
73689,tt5013056,Dunkirk,Dunkirk,2017,2017-07-21,"Action, Drama, History",106,"UK, Netherlands, France, USA","English, French, German",Christopher Nolan,...,"Fionn Whitehead, Damien Bonnard, Aneurin Barna...","Allied soldiers from Belgium, the British Empi...",7.9,487517,$ 100000000,$ 189740665,$ 526940665,94,2222,608

### Recommend movies based on actor

In [7]:
#rec_actor = input('Enter actor you want to be recommended movies of: ')
rec_actor = 'Ryan Gosling'
rec_actor = data[data['actors'].str.contains(rec_actor)]

In [8]:
rec_actor

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
28920,tt0116356,Frankenstein and Me,Frankenstein and Me,1996,1996-07-12,"Comedy, Family, Fantasy",91,Canada,English,Robert Tinnell,...,"Jamieson Boulanger, Ricky Mabe, Polly Shannon,...",Earl Williams is a dreamer teenager obsessed w...,5.4,346,missing value,missing value,missing value,missing value,5,2
35505,tt0210945,Remember the Titans,Remember the Titans,2000,2001-02-09,"Biography, Drama, Sport",113,USA,English,Boaz Yakin,...,"Denzel Washington, Will Patton, Wood Harris, R...",The true story of a newly appointed African-Am...,7.8,187326,$ 30000000,$ 115654751,$ 136706683,48,439,158
37002,tt0247199,The Believer,The Believer,2001,2001-08-23,Drama,98,USA,"English, Hebrew",Henry Bean,...,"Ryan Gosling, Peter Meadows, Garret Dillahunt,...",A young Jewish man develops a fiercely anti-Se...,7.2,35195,$ 1500000,$ 416925,$ 1309316,75,162,96
37908,tt0264935,Murder by Numbers,Murder by Numbers,2002,2002-06-28,"Crime, Mystery, Thriller",115,USA,English,Barbet Schroeder,...,"Sandra Bullock, Ben Chaplin, Ryan Gosling, Mic...","Two gifted high school students execute a ""per...",6.2,50625,$ 50000000,$ 31945749,$ 56714147,50,307,133
38028,tt0266971,The Slaughter Rule,The Slaughter Rule,2002,2002-09-14,"Drama, Sport",112,USA,English,"Alex Smith, Andrew J. Smith",...,"Ryan Gosling, David Morse, Clea DuVall, David ...","A young man finds solace with a young woman, h...",6.0,2237,$ 500000,$ 13411,$ 13411,65,30,17
39940,tt0301976,The United States of Leland,The United States of Leland,2003,2005-03-25,Drama,108,USA,English,Matthew Ryan Hoge,...,"Don Cheadle, Ryan Gosling, Chris Klein, Jena M...",A young man's experience in a juvenile detenti...,7.1,22026,missing value,$ 343847,$ 343847,37,105,65
41185,tt0332280,The Notebook,The Notebook,2004,2004-06-25,"Drama, Romance",123,USA,English,Nick Cassavetes,...,"Tim Ivey, Gena Rowlands, Starletta DuPois, Jam...",A poor yet passionate young man falls in love ...,7.8,486191,$ 29000000,$ 81001787,$ 115533700,53,1197,178
42594,tt0371257,Stay,Stay,2005,2005-10-21,"Drama, Mystery, Thriller",99,USA,English,Marc Forster,...,"Ewan McGregor, Ryan Gosling, Kate Burton, Naom...",This movie focuses on the attempts of a psychi...,6.8,71166,$ 50000000,$ 3626883,$ 8342132,41,372,121
46746,tt0468489,Half Nelson,Half Nelson,2006,2007-05-25,Drama,106,USA,English,Ryan Fleck,...,"Ryan Gosling, Jeff Lima, Shareeka Epps, Nathan...",An inner-city junior high school teacher with ...,7.2,81313,$ 700000,$ 2697938,$ 4660481,85,204,217
47636,tt0488120,Fracture,Fracture,2007,2007-04-20,"Crime, Drama, Thriller",113,"USA, Germany",English,Gregory Hoblit,...,"Anthony Hopkins, Ryan Gosling, David Strathair...",An attorney intent on climbing the career ladd...,7.2,173459,missing value,$ 39015018,$ 91354215,68,358,204
48346,tt0780504,Drive,Drive,2011,2011-09-23,"Crime, Drama",100,USA,"English, Spanish",Nicolas Winding Refn,...,"Ryan Gosling, Carey Mulligan, Bryan Cranston, ...",A mysterious Hollywood stuntman and mechanic m...,7.8,533029,$ 15000000,$ 35061555,$ 76176032,78,1435,706
48677,tt0805564,Lars and the Real Girl,Lars and the Real Girl,2007,2008-03-21,"Comedy, Drama, Romance",106,"USA, Canada","English, Spanish",Craig Gillespie,...,"Ryan Gosling, Emily Mortimer, Paul Schneider, ...",A delusional young man strikes up an unconvent...,7.3,133005,$ 12000000,$ 5972884,$ 11293663,70,333,227
52295,tt1120985,Blue Valentine,Blue Valentine,2010,2011-01-14,"Drama, Romance",112,USA,English,Derek Cianfrance,...,"Ryan Gosling, Michelle Williams, Faith Wladyka...",The relationship of a contemporary married cou...,7.4,173519,$ 1000000,$ 9706328,$ 12903649,81,331,395
52316,tt1124035,The Ides of March,The Ides of March,2011,2011-10-28,"Drama, Thriller",101,USA,English,George Clooney,...,"Ryan Gosling, George Clooney, Philip Seymour H...",An idealistic staffer for a new presidential c...,7.1,209134,$ 12500000,$ 40962534,$ 75993061,67,302,432
52899,tt1175709,All Good Things,All Good Things,2010,2010-12-09,"Crime, Drama, Mystery",101,USA,English,Andrew Jarecki,...,"Ryan Gosling, Kirsten Dunst, Frank Langella, L...",Mr. David Marks was suspected but never tried ...,6.3,50429,missing value,$ 582024,$ 1754389,57,79,139
53362,tt1213641,First Man,First Man,2018,2018-10-12,"Biography, Drama, History",141,"USA, Japan",English,Damien Chazelle,...,"Ryan Gosling, Claire Foy, Jason Clarke, Kyle C...","A look at the life of the astronaut,",7.3,139035,$ 59000000,$ 44936545,$ 105697415,84,1228,460
54751,tt1321870,Gangster Squad,Gangster Squad,2013,2013-01-10,"Action, Crime, Drama",113,USA,English,Ruben Fleischer,...,"Sean Penn, Holt McCallany, Wade Williams, Jame...","It's 1949 Los Angeles, the city is run by gang...",6.7,198356,$ 60000000,$ 46000903,$ 105200903,40,294,428
57290,tt1570728,"Crazy, Stupid, Love.","Crazy, Stupid, Love.",2011,2011-09-23,"Comedy, Drama, Romance",118,USA,English,"Glenn Ficarra, John Requa",...,"Steve Carell, Ryan Gosling, Julianne Moore, Em...",A middle-aged husband's life changes dramatica...,7.4,444563,$ 50000000,$ 84351197,$ 145051197,68,342,315
57585,tt1596363,The Big Short,The Big Short,2015,2016-01-22,"Biography, Comedy, Drama",130,USA,English,Adam McKay,...,"Ryan Gosling, Rudy Eisenzopf, Casey Groves, Ch...",In 2006-2007 a group of investors bet against ...,7.8,321537,$ 28000000,$ 70259870,$ 133440870,81,479,468
57654,tt1602613,Only God Forgives,Only God Forgives,2013,2013-08-02,"Action, Crime, Drama",90,"Denmark, France, USA, Sweden, Belgium","English, Thai",Nicolas Winding Refn,...,"Ryan Gosling, Kristin Scott Thomas, Vithaya Pa...","Julian, a drug-smuggler thriving in Bangkok's ...",5.7,102355,$ 4800000,$ 779188,$ 10635126,37,533,460
59981,tt1817273,The Place Beyond the Pines,The Place Beyond the Pines,2012,2013-04-12,"Crime, Drama, Thriller",140,USA,"English, Spanish",Derek Cianfrance,...,"Ryan Gosling, Craig Van Hook, Eva Mendes, Olga...",A motorcycle stunt rider turns to robbing bank...,7.3,231149,$ 15000000,$ 21403519,$ 35485608,68,446,431
60407,tt1856101,Blade Runner 2049,Blade Runner 2049,2017,2017-10-05,"Action, Drama, Mystery",164,"USA, UK, Hungary, Canada, Spain","English, Finnish, Japanese, Hungarian, Russian...",Denis Villeneuve,...,"Ryan Gosling, Dave Bautista, Robin Wright, Mar...",A young blade runner's discovery of a long-bur...,8.0,399963,$ 150000000,$ 92054159,$ 260512487,81,2165,628
61838,tt2062700,Song to Song,Song to Song,2017,2017-03-17,"Drama, Music, Romance",129,USA,English,Terrence Malick,...,"Ryan Gosling, Rooney Mara, Michael Fassbender,...",Two intersecting love triangles. Obsession and...,5.7,16308,missing value,$ 443684,$ 1848459,54,98,165
70072,tt3783958,La La Land,La La Land,2016,2017-01-12,"Comedy, Drama, Music",128,"USA, Hong Kong",English,Damien Chazelle,...,"Ryan Gosling, Emma Stone, Amiée Conn, Terry Wa...","While navigating their careers in Los Angeles,...",8.0,453695,$ 30000000,$ 151101803,$ 446092357,93,1628,672
70118,tt3799694,The Nice Guys,The Nice Guys,2016,2016-06-03,"Action, Comedy, Crime",116,USA,"English, German",Shane Black,...,"Russell Crowe, Ryan Gosling, Angourie Rice, Ma...","In 1970s Los Angeles, a mismatched pair of pri...",7.4,249635,$ 50000000,$ 36261763,$ 62788218,70,405,441

# Data Preprocessing

**Things to do:**
* Impute all missing values
* Extract only relevant columns
* Convert all columns into lower case
* Split all names into comma separated
* Combine director, writer, actor names, production company into 1 word respectively this will be used for text extraction

In [9]:
data.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics'],
      dtype='object')

In [10]:
#Extract relevant columns that would influence a movie's rating based on the content.

#Due to memory issue using just 3k data. You can try this code on Google Colabs for better performance
data1 = data[['title','genre','director','actors','description']].head(3000)
data1.head()

,title,genre,director,actors,description
0,The Story of the Kelly Gang,"Biography, Crime, Drama",Charles Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...
1,Den sorte drøm,Drama,Urban Gad,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...
2,Cleopatra,"Drama, History",Charles L. Gaskill,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...
3,L'Inferno,"Adventure, Drama, Fantasy","Francesco Bertolini, Adolfo Padovan","Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...
4,"From the Manger to the Cross; or, Jesus of Naz...","Biography, Drama",Sidney Olcott,"R. Henderson Bland, Percy Dyer, Gene Gauntier,...","An account of the life of Jesus Christ, based ..."

Remember the more columns you extract here more are the chances of overfitting as movies recommended will also take into account director, writer, production_company and et all. These features may be irrelevant to a user who wants to be recommended a movie based on his preferences.

In [11]:
data1.isnull().sum()

title          0
genre          0
director       0
actors         0
description    0
dtype: int64

In [12]:
#Impute all missing values
data1 = data1.fillna('missing value')

In [13]:
#Convert all columns into lower case
data1 = data1.applymap(lambda x: x.lower() if type(x) == str else x)
data1.head()

,title,genre,director,actors,description
0,the story of the kelly gang,"biography, crime, drama",charles tait,"elizabeth tait, john tait, norman campbell, be...",true story of notorious australian outlaw ned ...
1,den sorte drøm,drama,urban gad,"asta nielsen, valdemar psilander, gunnar helse...",two men of high rank are both wooing the beaut...
2,cleopatra,"drama, history",charles l. gaskill,"helen gardner, pearl sindelar, miss fielding, ...",the fabled queen of egypt's affair with roman ...
3,l'inferno,"adventure, drama, fantasy","francesco bertolini, adolfo padovan","salvatore papa, arturo pirovano, giuseppe de l...",loosely adapted from dante's divine comedy and...
4,"from the manger to the cross; or, jesus of naz...","biography, drama",sidney olcott,"r. henderson bland, percy dyer, gene gauntier,...","an account of the life of jesus christ, based ..."

In [14]:
#Use genre as a list of words
data1['genre'] = data1['genre'].map(lambda x: x.split(','))
data1['genre']

0         [biography,  crime,  drama]
1                             [drama]
2                   [drama,  history]
3       [adventure,  drama,  fantasy]
4                 [biography,  drama]
                    ...
2995                          [drama]
2996        [crime,  drama,  romance]
2997                [drama,  romance]
2998                          [drama]
2999        [drama,  romance,  sport]
Name: genre, Length: 3000, dtype: object

In [15]:
#Similarily lets separate names into first and last name with commas
data1[['director','actors']] = data1[['director','actors']].applymap(lambda x: x.split(',')) #apply map used for more than 1 column, map for 1 column
data1[['director','actors']].head()

,director,actors
0,[charles tait],"[elizabeth tait, john tait, norman campbell,..."
1,[urban gad],"[asta nielsen, valdemar psilander, gunnar he..."
2,[charles l. gaskill],"[helen gardner, pearl sindelar, miss fieldin..."
3,"[francesco bertolini, adolfo padovan]","[salvatore papa, arturo pirovano, giuseppe d..."
4,[sidney olcott],"[r. henderson bland, percy dyer, gene gaunti..."

In [16]:
#Combine director, actor names into 1 word respectively this will be used for text extraction

for index,row in data1.iterrows():
    row['actors'] = [x.replace(' ','') for x in row['actors']]
    row['director'] = [x.replace(' ','') for x in row['director']]

In [17]:
data1.head()

,title,genre,director,actors,description
0,the story of the kelly gang,"[biography, crime, drama]",[charlestait],"[elizabethtait, johntait, normancampbell, bell...",true story of notorious australian outlaw ned ...
1,den sorte drøm,[drama],[urbangad],"[astanielsen, valdemarpsilander, gunnarhelseng...",two men of high rank are both wooing the beaut...
2,cleopatra,"[drama, history]",[charlesl.gaskill],"[helengardner, pearlsindelar, missfielding, mi...",the fabled queen of egypt's affair with roman ...
3,l'inferno,"[adventure, drama, fantasy]","[francescobertolini, adolfopadovan]","[salvatorepapa, arturopirovano, giuseppedeligu...",loosely adapted from dante's divine comedy and...
4,"from the manger to the cross; or, jesus of naz...","[biography, drama]",[sidneyolcott],"[r.hendersonbland, percydyer, genegauntier, al...","an account of the life of jesus christ, based ..."

## For content based movie recommendation we have to use NLP techniques like 
* Keyword extraction -> Extract keywords from description
* Bag of Words Creation -> Extracting all words from a row into a Bag
* Count Vectorizer -> Count frequency of words from this BOW
* Cosine Similarity -> Find cosine similarity between all movie titles




# Keyword Extraction
Keyword extraction is automatic detection of terms that best describe the subject of a document. We will use Rake to extract keywords from description.

*For more info -> [Wiki](https://en.wikipedia.org/wiki/Keyword_extraction)*

**Things to do:**
* Create a empty list Keywords
* Loop across all rows to extract all keywords from description
* Create a dictionary with keywords and all their scores
* Append 'keywords' column into dataframe

In [18]:
#Create a empty list Keywords
data1['keywords'] = ''

In [19]:
#Loop across all rows to extract all keywords from description
for index, row in data1.iterrows():
    description = row['description']
    
    #instantiating Rake by default it uses English stopwords from NLTK and discards all punctuation chars
    r = Rake()
    
    #extract words by passing the text
    r.extract_keywords_from_text(description)
    
    #get the dictionary with key words and their scores
    keyword_dict_scores = r.get_word_degrees()
    
    #assign keywords to new columns
    row['keywords'] = list(keyword_dict_scores.keys())
    
#drop description

In [20]:
data1.set_index('title', inplace = True)
data1.head()

,genre,director,actors,description,keywords
title,,,,,
the story of the kelly gang,"[biography, crime, drama]",[charlestait],"[elizabethtait, johntait, normancampbell, bell...",true story of notorious australian outlaw ned ...,"[true, story, notorious, australian, outlaw, n..."
den sorte drøm,[drama],[urbangad],"[astanielsen, valdemarpsilander, gunnarhelseng...",two men of high rank are both wooing the beaut...,"[offer, two, men, jeweler, hirsch, famous, equ..."
cleopatra,"[drama, history]",[charlesl.gaskill],"[helengardner, pearlsindelar, missfielding, mi...",the fabled queen of egypt's affair with roman ...,"[affair, egypt, fabled, queen, ulimately, disa..."
l'inferno,"[adventure, drama, fantasy]","[francescobertolini, adolfopadovan]","[salvatorepapa, arturopirovano, giuseppedeligu...",loosely adapted from dante's divine comedy and...,"[inspired, divine, comedy, gustav, doré, dante..."
"from the manger to the cross; or, jesus of nazareth","[biography, drama]",[sidneyolcott],"[r.hendersonbland, percydyer, genegauntier, al...","an account of the life of jesus christ, based ...","[parents, jesus, based, books, life, foretold,..."

# Bag of Words Creation

This is an important technique used in NLP and other such information retrieval programs to create a bag of words concerning a text *(in our case its 'title')* Here the occurence of every word is used as a feature for training a classifier.

*For more info, -> [Wiki](https://en.wikipedia.org/wiki/Bag-of-words_model)*

**Things to do:**
* Create empty list of bow
* Iterate over all rows combining genre with director & actor names

In [21]:
data1['bow'] = ''
columns = data1.columns
for index, row in data1.iterrows():
    words = ''
    for col in columns:
        words = words + ' '.join(row[col])+ ' '
        row['bow'] = words
        

#Use below code if you do not want to include director name into bow
    #for col in columns:
        #if col != 'director':
            #words = words + ' '.join(row[col])+ ' '
        #else:
            #words = words + row[col]+ ' '
        #row['bow'] = words

    
#df1.drop(columns = [col for col in df1.columns if col!= 'bag_of_words'], inplace = True)

In [22]:
data1.head()

,genre,director,actors,description,keywords,bow
title,,,,,,
the story of the kelly gang,"[biography, crime, drama]",[charlestait],"[elizabethtait, johntait, normancampbell, bell...",true story of notorious australian outlaw ned ...,"[true, story, notorious, australian, outlaw, n...",biography crime drama charlestait elizabetht...
den sorte drøm,[drama],[urbangad],"[astanielsen, valdemarpsilander, gunnarhelseng...",two men of high rank are both wooing the beaut...,"[offer, two, men, jeweler, hirsch, famous, equ...",drama urbangad astanielsen valdemarpsilander g...
cleopatra,"[drama, history]",[charlesl.gaskill],"[helengardner, pearlsindelar, missfielding, mi...",the fabled queen of egypt's affair with roman ...,"[affair, egypt, fabled, queen, ulimately, disa...",drama history charlesl.gaskill helengardner p...
l'inferno,"[adventure, drama, fantasy]","[francescobertolini, adolfopadovan]","[salvatorepapa, arturopirovano, giuseppedeligu...",loosely adapted from dante's divine comedy and...,"[inspired, divine, comedy, gustav, doré, dante...",adventure drama fantasy francescobertolini a...
"from the manger to the cross; or, jesus of nazareth","[biography, drama]",[sidneyolcott],"[r.hendersonbland, percydyer, genegauntier, al...","an account of the life of jesus christ, based ...","[parents, jesus, based, books, life, foretold,...",biography drama sidneyolcott r.hendersonbland...

# Count Vectorizer

Convert a collection of text documents to a matrix of token counts. It's a data table that is obtained after normalization of next-generation sequencing data.

*For more info -> [Count Vectorizer](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html)*

**Things to do:**
* Instantiate & Fit CountVectorizer into 'bow' -> to create count_matrix this is useful for cosine similarity
* 'title' column is an Index as we saw above, hence we convert 'title' column as Series -> to use 'title' as an ordered numerical list
* Understand the count_matrix -> Check its shape and type
* Convert sparse count_matrix to dense vector -> To reduce complexity, *For more info -> [Sparse Matrices](https://machinelearningmastery.com/sparse-matrices-for-machine-learning/)*
* Dense matrix for a sample row
* Check all words in the vocabulary
* Generate cosine similarity for count_matrix

In [23]:
#instantiating and generating the count matrix
count = CountVectorizer()
count_matrix = count.fit_transform(data1['bow'])

#create a Series for movie titles so they are associated to an ordered numerical list, we will use this later to match index
indices = pd.Series(data1.index)
indices[:5]

0                          the story of the kelly gang
1                                       den sorte drøm
2                                            cleopatra
3                                            l'inferno
4    from the manger to the cross; or, jesus of naz...
Name: title, dtype: object

In [24]:
#Shape count_matrix
count_matrix

<3000x21128 sparse matrix of type '<class 'numpy.int64'>'
	with 88732 stored elements in Compressed Sparse Row format>

In [25]:
type(count_matrix)

scipy.sparse.csr.csr_matrix

In [26]:
#Convert sparse count_matrix to dense vector
c = count_matrix.todense()
c

matrix([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]])

In [27]:
#Print count_matrix for 0th row
print(count_matrix[0,:]) #This shows all words and their frequency in bow of 0th row

  (0, 2146)	1
  (0, 4128)	1
  (0, 5132)	1
  (0, 3260)	1
  (0, 5688)	1
  (0, 10641)	1
  (0, 14262)	1
  (0, 1868)	1
  (0, 20600)	1
  (0, 17225)	1
  (0, 9891)	1
  (0, 10540)	1
  (0, 19945)	1
  (0, 13780)	2
  (0, 12854)	1
  (0, 13193)	1
  (0, 7060)	1
  (0, 14476)	1
  (0, 19537)	1
  (0, 18396)	1
  (0, 14305)	1
  (0, 1523)	1
  (0, 14652)	1
  (0, 13997)	1
  (0, 11068)	1
  (0, 51)	1
  (0, 119)	1

In [28]:
#Gives vocabulary of all words in 'bow' and their counts
count.vocabulary_

{'biography': 2146,
 'crime': 4128,
 'drama': 5132,
 'charlestait': 3260,
 'elizabethtait': 5688,
 'johntait': 10641,
 'normancampbell': 14262,
 'bellacola': 1868,
 'willcoyne': 20600,
 'samcrewes': 17225,
 'jackennis': 9891,
 'johnforde': 10540,
 'veralinden': 19945,
 'mr': 13780,
 'marshall': 12854,
 'mckenzie': 13193,
 'frankmills': 7060,
 'olliewilson': 14476,
 'true': 19537,
 'story': 18396,
 'notorious': 14305,
 'australian': 1523,
 'outlaw': 14652,
 'ned': 13997,
 'kelly': 11068,
 '1855': 51,
 '80': 119,
 'urbangad': 19787,
 'astanielsen': 1428,
 'valdemarpsilander': 19833,
 'gunnarhelsengreen': 8213,
 'emilalbes': 5788,
 'hugoflink': 9292,
 'maryhagen': 12929,
 'offer': 14396,
 'two': 19608,
 'men': 13258,
 'jeweler': 10359,
 'hirsch': 9074,
 'famous': 6433,
 'equestrian': 5979,
 'acrobat': 217,
 'stella': 18315,
 'ignores': 9415,
 'home': 9125,
 'follow': 6823,
 'wooing': 20859,
 'accepts': 180,
 'count': 4031,
 'von': 20213,
 'waldberg': 20267,
 'high': 9027,
 'rank': 15987,
 'beautiful': 1814,
 'history': 9079,
 'charlesl': 3213,
 'gaskill': 7421,
 'helengardner': 8793,
 'pearlsindelar': 15017,
 'missfielding': 13550,
 'missrobson': 13562,
 'helenecostello': 8783,
 'charlessindelar': 3253,
 'howard': 9223,
 'jamesr': 10071,
 'waite': 20256,
 'osborne': 14575,
 'harryknowles': 8580,
 'paul': 14877,
 'brady': 2420,
 'corker': 3985,
 'affair': 343,
 'egypt': 5562,
 'fabled': 6380,
 'queen': 15838,
 'ulimately': 19641,
 'disastrous': 4786,
 'roman': 16854,
 'general': 7467,
 'marc': 12550,
 'antony': 1107,
 'adventure': 324,
 'fantasy': 6449,
 'francescobertolini': 6919,
 'adolfopadovan': 292,
 'salvatorepapa': 17216,
 'arturopirovano': 1367,
 'giuseppedeliguoro': 7860,
 'pierdellevigne': 15280,
 'augustomilla': 1504,
 'attiliomotta': 1468,
 'emiliseberetta': 5806,
 'inspired': 9617,
 'divine': 4868,
 'comedy': 3742,
 'gustav': 8247,
 'doré': 5082,
 'dante': 4328,
 'illustrations': 9434,
 'tangerine': 18808,
 'dream': 5142,
 'original': 14553,
 'silent': 17843,
 'film': 6644,
 'loosely': 11960,
 'adapted': 241,
 'new': 14067,
 'score': 17384,
 'restored': 16428,
 'sidneyolcott': 17813,
 'hendersonbland': 8843,
 'percydyer': 15080,
 'genegauntier': 7461,
 'alicehollister': 665,
 'samuelmorgan': 17257,
 'jamesd': 10032,
 'ainsley': 410,
 'robertg': 16694,
 'vignola': 20035,
 'georgekellog': 7579,
 'mcgowan': 13187,
 'parents': 14772,
 'jesus': 10350,
 'based': 1751,
 'books': 2322,
 'life': 11730,
 'foretold': 6860,
 'born': 2365,
 'christ': 3407,
 'visited': 20149,
 'testament': 18981,
 'account': 193,
 'shepherds': 17677,
 'bethlehem': 2018,
 'wise': 20813,
 'birth': 2152,
 'romance': 16855,
 'ernstlubitsch': 6061,
 'polanegri': 15435,
 'emiljannings': 5808,
 'harryliedtke': 8585,
 'eduardvonwinterstein': 5444,
 'reinholdschünzel': 16245,
 'elseberna': 5744,
 'fredimmler': 7183,
 'gustavczimeg': 8251,
 'karlplaten': 10983,
 'bernhardgoetzke': 1963,
 'magnusstifter': 12413,
 'paulbiensfeldt': 14887,
 'willykaiser': 20753,
 'heyl': 9012,
 'alexanderekert': 570,
 'robertsortsch': 16754,
 'pla': 15364,
 'louis': 12025,
 'xv': 20934,
 'mistress': 13570,
 'france': 6915,
 'french': 7227,
 'revolution': 16470,
 'time': 19192,
 'madame': 12342,
 'dubarry': 5194,
 'loves': 12116,
 'enricoguazzoni': 5927,
 'amletonovelli': 821,
 'gustavoserena': 8257,
 'carlocattaneo': 2869,
 'ameliacattaneo': 806,
 'leagiunchi': 11483,
 'brutocastellani': 2564,
 'augustomastripietri': 1503,
 'cesaremoltini': 3078,
 'olgabrandini': 14437,
 'ignaziolupi': 9411,
 'giovannigizzi': 7847,
 'liaorlandini': 11704,
 'matildeguillaume': 13022,
 'idacarlonitalli': 9384,
 'giuseppegambardella': 7861,
 'quo': 15861,
 'vadis': 19827,
 'influenced': 9558,
 'many': 12539,
 'later': 11412,
 'movies': 13774,
 'epic': 5968,
 'italian': 9814,
 'war': 20378,
 'aristidedemetriade': 1202,
 'constantademetriade': 3903,
 'constantinnottara': 3905,
 'pepimachauer': 15073,
 'aurelathanasescu': 1513,
 'jenymetaxa': 10312,
 'doro': 5027,
 'nicolaesoreanu': 14108,
 'vasiletoneanu': 19902,
 'aristitaromanescu': 1203,
 'elvirepopesco': 5764,
 'vîrgolici': 20242,
 'nedelcovici': 13999,
 'mihailtancovici': 13387,
 'cosmin': 4015,
 'iondumitrescu': 9717,
 'gheorghemeliseanu': 7793,
 'romanian': 16859,
 'independence': 9509,
 '1878': 58,
 '1877': 57,
 'movie': 13773,
 'depicts': 4579,
 'andrécalmettes': 896,
 'jameskeane': 10053,
 'robertgemp': 16696,
 'frederickwarde': 7167,
 'albertgardner': 477,
 'georgemoss': 7604,
 'howardstuart': 9244,
 'virginiarankin': 20130,
 'violetstuart': 20103,
 'careylee': 2830,
 'carlottadefelice': 2885,
 'gain': 7365,
 'gloucester': 7924,
 'uses': 19805,
 'manipulation': 12505,
 'english': 5900,
 'throne': 19155,
 'murder': 13805,
 'richard': 16495,
 'augustblom': 1494,
 'olaffønss': 14418,
 'idaorloff': 9389,
 'ebbathomsen': 5312,
 'carllauritzen': 2863,
 'frederikjacobsen': 7169,
 'charlesunthan': 3263,
 'torbenmeyer': 19343,
 'svendbille': 18650,
 'olufbillesborg': 14480,
 'majabjerre': 12440,
 'lind': 11814,
 'cajusbruun': 2726,
 'michaelcurtiz': 13322,
 'mariedinesen': 12723,
 'veraesbøll': 19941,
 'lilyfrederiksen': 11801,
 'rejected': 16250,
 'friedrich': 7241,
 'respite': 16416,
 'dr': 5123,
 'research': 16384,
 'papers': 14754,
 'wife': 20560,
 'becomes': 1822,
 'mentally': 13267,
 'unstable': 19764,
 'country': 4041,
 'leaves': 11499,
 'louisfeuillade': 12068,
 'renénavarre': 16350,
 'edmundbreon': 5411,
 'georgesmelchior': 7656,
 'renéecarl': 16337,
 'janefaber': 10103,
 'andrévolbert': 921,
 'naudier': 13968,
 'maillard': 12426,
 'yvetteandréyor': 21030,
 'andréluguet': 911,
 'investigate': 9690,
 'infamous': 9544,
 'criminal': 4131,
 'fantomas': 6450,
 'inspector': 9615,
 'juve': 10906,
 'tasked': 18827,
 'capture': 2807,
 'victorsjöström': 20015,
 'hildaborgström': 9035,
 'aronlindgren': 1263,
 'eriklindholm': 6020,
 'georggrönroos': 7698,
 'williamlarsson': 20692,
 'richardlund': 16535,
 'carlbarcklind': 2840,
 'hugobjörne': 9287,
 'bertilmalmstedt': 1987,
 'children': 3377,
 'due': 5211,
 'separated': 17538,
 'single': 17879,
 'mother': 13749,
 'financial': 6655,
 'struggles': 18450,
 'laurentmorléas': 11442,
 'paris': 14773,
 'hour': 9210,
 'follows': 6826,
 'fantã': 6451,
 'mas': 12978,
 'disguise': 4804,
 'creeping': 4119,
 'assassin': 1393,
 'equally': 5976,
 'resourceful': 16407,
 'lord': 11963,
 'master': 12997,
 'feuillade': 6610,
 'pursued': 15798,
 'black': 2163,
 'part': 14788,
 'alfredmachin': 631,
 'baert': 1614,
 'suzanneberni': 18633,
 'fernandcrommelynck': 6579,
 'nadiad': 13879,
 'angely': 937,
 'henrigoidsen': 8866,
 'alberthendrickx': 481,
 'mauriceauzat': 13060,
 'renéebailly': 16335,
 'georgesetienne': 7641,
 'zizifesterat': 21089,
 'lucienmussière': 12161,
 'réginald': 17136,
 'janetony': 10128,
 'falls': 6423,
 'love': 12107,
 'visit': 20148,
 'another': 1056,
 'army': 1250,
 'pilot': 15329,
 'sister': 17891,
 'outbreak': 14643,
 'countries': 4040,
 'neighboured': 14025,
 'mystery': 13866,
 'luitz': 12215,
 'morat': 13710,
 'armanddutertre': 1229,
 'fabiennefabrèges': 6378,
 'mariedorly': 12724,
 'presumed': 15580,
 'dead': 4424,
 'series': 17566,
 'crimes': 4130,
 'take': 18768,
 'place': 15365,
 'prison': 15630,
 'seemingly': 17483,
 'brought': 2533,
 'justice': 10901,
 'inside': 9609,
 'body': 2279,
 'disappears': 4775,
 'fandor': 6438,
 'must': 13841,
 'alone': 753,
 'finally': 6650,
 'man': 12483,
 'griffith': 8132,
 'henryb': 8884,
 'walthall': 20355,
 'josephinecrowell': 10702,
 'lilliangish': 11775,
 'dorothygish': 5052,
 'faytincher': 6508,
 'maemarsh': 12390,
 'spottiswoodeaitken': 18195,
 'robertharron': 16702,
 'miriamcooper': 13523,
 'maryalden': 12906,
 'donaldcrisp': 4938,
 'jameskirkwood': 10054,
 'jackpickford': 9943,
 'fredburns': 7137,
 'courtenayfoote': 4055,
 'popular': 15482,
 'lives': 11876,
 'inspires': 9618,
 'john': 10491,
 'payne': 15001,
 'writes': 20905,
 'point': 15424,
 'people': 15068,
 'song': 18064,
 'miserable': 13537,
 'horror': 9183,
 'paulwegener': 14979,
 'stellanrye': 18319,
 'greteberger': 8120,
 'lydasalmonova': 12259,
 'johngottowt': 10549,
 'lotharkörner': 11993,
 'fritzweidemann': 7279,
 'scarcely': 17337,
 'seated': 17443,
 'beer': 1834,
 'garden': 7400,
 'resources': 16408,
 'reached': 16094,
 'end': 5876,
 'student': 18471,
 'quiet': 15848,
 'corner': 3990,
 'balduin': 1627,
 'finds': 6663,
 'prague': 15542,
 'roystering': 16984,
 'companions': 3779,
 'georgeloanetucker': 7587,
 'janegail': 10105,
 'ethelgrandin': 6146,
 'williamh': 20665,
 'turner': 19593,
 'mattmoore': 13043,
 'williamwelsh': 20730,
 'millieliston': 13452,
 'irenewallace': 9740,
 'williamcavanaugh': 20628,
 'arthurhunter': 1316,
 'howardcrampton': 9228,
 'bainbridge': 1620,
 'lurayhuntley': 12240,
 'williampowers': 20709,
 'jackpoulton': 9946,
 'edwardboring': 5455,
 'police': 15438,
 'officer': 14400,
 'sweetheart': 18673,
 'secretly': 17458,
 'runs': 17046,
 'aid': 395,
 'kidnapped': 11129,
 'woman': 20844,
 'uncover': 19677,
 'prostitution': 15731,
 'ring': 16586,
 'endeavors': 5879,
 'philanthropist': 15181,
 'mariocaserini': 12755,
 'eleuteriorodolfi': 5646,
 'fernandanegripouget': 6576,
 'eugeniatettonifior': 6189,
 'ubaldostefani': 19630,
 'antoniogrisanti': 1098,
 'cesareganicarini': 3076,
 'vitaledistefano': 20155,
 'mariabrioschi': 12698,
 'carlocampogalliani': 2868,
 'ersiliascalpellini': 6082,
 'ercolevaser': 5984,
 'cesarezocchi': 3080,
 'ancient': 854,
 'pompei': 15465,
 'triangles': 19486,
 'intersect': 9660,
 'francescabertini': 6917,
 'carlobenetti': 2867,
 'lucianoalbertini': 12147,
 'ameliacipriani': 807,
 'antoniocruichi': 1096,
 'albertocollo': 489,
 'albertoalbertini': 487,
 'assunta': 1423,
 'spina': 18165,
 'beginning': 1845,
 'others': 14609,
 'come': 3738,
 'michele': 13346,
 'much': 13786,
 'jealousy': 10183,
 'tragedy': 19417,
 'set': 17582,
 'naples': 13926,
 'fight': 6632,
 'twentieth': 19601,
 'century': 3071,
 'blanchesweet': 2194,
 'georgesiegmann': 7650,
 'ralphlewis': 15945,
 'georgeberanger': 7520,
 'young': 20996,
 'turns': 19595,
 'thoughts': 19137,
 'uncle': 19674,
 'prevented': 15588,
 'dating': 4357,
 'western': 20504,
 'reginaldbarker': 16206,
 'williams': 20714,
 'hart': 8622,
 'frankburke': 6988,
 'clarawilliams': 3503,
 'barneysherry': 1713,
 'josephj': 10710,
 'dowling': 5112,
 'stage': 18227,
 'ranch': 15969,
 'go': 7931,
 'straight': 18401,
 'daughter': 4358,
 'tries': 19499,
 'return': 16450,
 'wounded': 20887,
 'fleeing': 6726,
 'marries': 12844,
 'wishing': 20818,
 'bandit': 1643,
 'jim': 10372,
 'stokes': 18377,
 'robs': 16782,
 'recuperating': 16154,
 'giovannipastrone': 7848,
 'carolinacatena': 2930,
 'lidiaquaranta': 11715,
 'ginamarangoni': 7834,
 'dantetesta': 4330,
 'umbertomozzato': 19653,
 'bartolomeopagano': 1743,
 'raffaeledinapoli': 15893,
 'emiliovardannes': 5805,
 'edoardodavesnes': 5431,
 'italiaalmirante': 9813,
 'manzini': 12541,
 'alexbernard': 594,
 'luigichellini': 12200,
 'enricogemelli': 5925,
 'sold': 18039,
 'carthage': 2965,
 'pirates': 15350,
 'one': 14487,
 'eruption': 6086,
 'three': 19147,
 'centuries': 3070,
 'slave': 17940,
 'going': 7946,
 'cabiria': 2713,
 'christus': 3429,
 'sacrificed': 17155,
 'etna': 6165,
 'marypickford': 12961,
 'owenmoore': 14689,
 'isabelvernon': 9787,
 'georgiawilson': 7704,
 'lucillecarney': 12174,
 'cone': 3830,
 'inezranous': 9543,
 'royal': 16965,
 'ball': 1631,
 'fairy': 6408,
 'godmother': 7940,
 'stepsisters': 18341,
 'able': 147,
 'cinderella': 3447,
 'though': 19135,
 'mistreated': 13568,
 'attend': 1462,
 'help': 8832,
 'cruel': 4167,
 'stepmother': 18338,
 'léonceperret': 12300,
 'louisleubas': 12083,
 'mauricelagrenée': 13076,
 'émilekeppens': 21122,
 'marcgérard': 12592,
 'henriduval': 8858,
 'suzannelebret': 18641,
 'jeannemarie': 10260,
 'laurent': 11441,
 'adrienpetit': 318,
 'suzanneprivat': 18642,
 'captain': 2802,
 'missing': 13552,
 'kind': 11154,
 'accomplices': 191,
 'sets': 17585,
 'action': 221,
 'away': 1563,
 'child': 3375,
 'school': 17363,
 'pursuit': 15801,
 'nice': 14086,
 'hearted': 8701,
 'employee': 5848,
 'kidnapper': 11130,
 'flees': 6727,
 'parisian': 14775,
 'lowlifes': 12126,
 'appearance': 1129,
 'finger': 6666,
 'relieves': 16276,
 'nanteuil': 13922,
 'pearl': 15012,
 'necklace': 13995,
 'princess': 15613,
 'sonia': 18068,
 'danidoff': 4311,
 'artist': 1360,
 'upon': 19773,
 'neck': 13994,
 'print': 15618,
 'mesnery': 13292,
 'jean': 10184,
 'françoismartial': 7119,
 'germainepelisse': 7752,
 'committed': 3767,
 'work': 20863,
 'still': 18365,
 'imprisonment': 9480,
 'gang': 7390,
 'belgium': 1859,
 'suggest': 18527,
 'sentenced': 17535,
 'sidneydrew': 17806,
 'edithstorey': 5392,
 'charleskent': 3209,
 'mrs': 13782,
 'adagifford': 234,
 'ethellloyd': 6151,
 'lillianburns': 11771,
 'gracestevens': 8032,
 'allancampbell': 699,
 'cortlandvandeusen': 4013,
 'franko': 7068,
 'neil': 14027,
 'act': 219,
 'like': 11740,
 'women': 20847,
 'seed': 17474,
 'slips': 17961,
 'fiancé': 6615,
 'fun': 7309,
 'begins': 1846,
 'discovers': 4796,
 'make': 12445,
 'decides': 4462,
 'maid': 12420,
 'henrikgaleen': 8868,
 'rudolfblümner': 17003,
 'roberta': 16644,
 'dietrich': 4714,
 'carlebert': 2846,
 'jakobtiedtke': 10012,
 'rabbi': 15862,
 'loew': 11919,
 '16th': 21,
 'golem': 7956,
 'rulers': 17034,
 'jews': 10365,
 'version': 19970,
 'city': 3462,
 'legend': 11529,
 'ongoing': 14491,
 'brutal': 2560,
 'persecution': 15116,
 'clay': 3561,
 'statue': 18292,
 'save': 17311,
 'benjaminchristensen': 1915,
 'karencaspersen': 10951,
 'ottoreinwald': 14631,
 'fritzlamprecht': 7272,
 'amandalund': 787,
 'hermannspiro': 8984,
 'bjørnspiro': 2162,
 'holgerbjerre': 9109,
 'ottolagoni': 14623,
 'charlesløwaas': 3221,
 'holgerrasmussen': 9110,
 'svendrindom': 18654,
 'robertschmidt': 16745,
 'finnwennerwald': 6677,
 'traitor': 19428,
 'cruiser': 4171,
 'wrongfully': 20909,
 'convicted': 3950,
 'summoned': 18555,
 'command': 3753,
 'van': 19871,
 'hauen': 8649,
 'brink': 2500,
 'unforeseen': 19705,
 'events': 6253,
 'lt': 12134,
 'family': 6432,
 'farrellmacdonald': 6469,
 'violetmacmillan': 20101,
 'frankmoore': 7064,
 'pierrecouderc': 15293,
 'fredwoodward': 7215,
 'raymondrussell': 16074,
 'arthursmollet': 1341,
 'charleshaydon': 3196,
 'toddwright': 19243,
 'vivianreed': 20165,
 'maiwells': 12439,
 'mildredharris': 13430,
 'louiseemmons': 12051,
 'jacquelinelovell': 9983,
 'camera': 2746,
 'horrid': 9180,
 'courtier': 4059,
 'googly': 7973,
 'goo': 7963,
 'pon': 15466,
 'boy': 2403,
 'marry': 12845,
 'taken': 18769,
 'gloria': 7907,
 'emerald': 5780,
 'wants': 20377,
 'wicked': 20550,
 'king': 11158,
 'gardener': 7401,
 'loisweber': 11932,
 'myrtlestedman': 13861,
 'herbertstanding': 8963,
 'adelefarrington': 257,
 'flits': 6749,
 'throughout': 19157,
 'ascetic': 1372,
 'making': 12449,
 'nude': 14321,
 'representing': 16370,
 'truth': 19550,
 'also': 765,
 'represented': 16369,
 'parallel': 14761,
 'stories': 18391,
 'modern': 13609,
 'preacher': 15549,
 'ignorant': 9412,
 'mob': 13601,
 'ghostly': 7797,
 'naked': 13890,
 'girl': 7853,
 'killed': 11144,
 'gabriel': 7344,
 'medieval': 13224,
 'monk': 13667,
 'edwards': 5502,
 'curtis': 4215,
 'stanleyhunt': 18262,
 'sarahconstancesmithhunt': 17288,
 'georgewalkus': 7692,
 'paddy': 14716,
 'malid': 12467,
 'balutsa': 1639,
 'kwagwanu': 11303,
 'francinehunt': 6942,
 'bobwilson': 2273,
 'awidi': 1566,
 'alfredcharlie': 617,
 '1911': 76,
 'famed': 6428,
 'northwest': 14287,
 'photographer': 15243,
 'edward': 5451,
 'next': 14083,
 'year': 20955,
 'kwakwaka': 11304,
 'travelled': 19454,
 'wakw': 20265,
 'massive': 12996,
 'undertaking': 19688,
 'vancouver': 19873,
 'island': 9797,
 'british': 2502,
 'columbia': 3731,
 'katebruce': 10994,
 'jiquellanoe': 10400,
 'gertrudebambrick': 7763,
 'harrycarey': 8552,
 'plans': 15380,
 'get': 7787,
 'complicated': 3790,
 'seducing': 17470,
 'murdering': 13810,
 'enemy': 5886,
 'leader': 11478,
 'destruction': 4631,
 'religious': 16277,
 'seeks': 17481,
 'leontinedranet': 11612,
 'bobbiegould': 2247,
 'mariewayne': 12736,
 'richardrosson': 16542,
 'frankbristol': 6985,
 'bertglennon': 1977,
 'halroach': 8360,
 'daveanderson': 4361,
 'jessiemaywalsh': 10346,
 'williamcook': 20633,
 'way': 20434,
 'ojo': 14413,
 'along': 754,
 'never': 14064,
 'starve': 18282,
 'stray': 18420,
 'leads': 11482,
 'journey': 10751,
 'unc': 19666,
 'nunkie': 14327,
 'food': 6831,
 'meet': 13228,
 'mewel': 13308,
 'decide': 4459,
 'waif': 20253,
 'mule': 13792,
 'louisj': 12076,
 'gasnier': 7422,
 'donaldmackenzie': 4948,
 'pearlwhite': 15018,
 'cranewilbur': 4093,
 'paulpanzer': 14963,
 'edwardjosé': 5481,
 'franciscarlyle': 6944,
 'cliffordbruce': 3600,
 'jackstanding': 9960,
 'eleanorwoodruff': 5628,
 'leroybaker': 11631,
 'louisedupre': 12050,
 'oscarnye': 14586,
 'samj': 17234,
 'ryan': 17123,
 'joecuny': 10455,
 'lot': 11991,
 'named': 13896,
 'officially': 14403,
 'secretary': 17456,
 'wealthy': 20445,
 'dies': 4710,
 'guardian': 8168,
 'pauline': 14931,
 'left': 11524,
 'money': 13655,
 'however': 9248,
 'oscarapfel': 14577,
 'cecilb': 3033,
 'demille': 4532,
 'dustinfarnum': 5254,
 'monroesalisbury': 13676,
 'winifredkingston': 20787,
 'filson': 6647,
 'haideefuller': 8329,
 'redwing': 16165,
 'fosterknox': 6893,
 'fredmontague': 7197,
 'baby': 1593,
 'carmenderue': 2905,
 'fernandogálvez': 6592,
 'eugenederue': 6174,
 'macy': 12338,
 'swisher': 18690,
 'michaelj': 13327,
 'kilpatrick': 11151,
 'sydneydeane': 18707,
 'cattle': 3016,
 'embezzlement': 5774,
 'chivalrous': 3390,
 'takes': 18772,
 'cousin': 4064,
 'blame': 2179,
 'american': 813,
 'west': 20502,
 'start': 18277,
 'journeys': 10752,
 'edwins': 5530,
 'porter': 15491,
 'haroldlockwood': 8513,
 'olivecarey': 14461,
 'davidhartford': 4381,
 'louisedunlap': 12049,
 'williamwalters': 20729,
 'richardgarrick': 16521,
 'eugenewalter': 6187,
 'jackhenry': 9899,
 'resident': 16394,
 'attempts': 1461,
 'false': 6424,
 'accusation': 198,
 'dispossess': 4829,
 'squatters': 18209,
 'live': 11871,
 'near': 13987,
 'macksennett': 12333,
 'charlesbennett': 3146,
 'mariedressler': 12725,
 'charleschaplin': 3160,
 'mabelnormand': 12314,
 'mackswain': 12334,
 'chesterconklin': 3338,
 'con': 3804,
 'dupes': 5244,
 'marriage': 12841,
 'liliberky': 11759,
 'victorvarconi': 20017,
 'marijászai': 12741,
 'andorszakács': 865,
 'gyulanagy': 8301,
 'marcsasimon': 12606,
 'istvánszentgyörgyi': 9811,
 'alajosmészáros': 436,
 'katóberky': 11034,
 'elemérhetényi': 5638,
 'zoltángálosi': 21094,
 'endrekertész': 5882,
 'fülöperdõs': 7342,
 'adorjánnagy': 307,
 'mihályfekete': 13389,
 'sent': 17533,
 'living': 11878,
 'raised': 15920,
 'betty': 2031,
 'duel': 5212,
 'lili': 11751,
 'berky': 1946,
 'really': 16110,
 'told': 19254,
 'nothing': 14300,
 'dying': 5267,
 'father': 6485,
 'jackw': 9964,
 'johnston': 10636,
 'williamelmer': 20653,
 'jamesgriswold': 10048,
 'horaceb': 9168,
 'carpenter': 2940,
 'texdriscoll': 18997,
 'rustlers': 17077,
 'natured': 13967,
 'best': 2015,
 'friend': 7252,
 'local': 11901,
 'schoolmarm': 17366,
 'posse': 15509,
 'includes': 9499,
 'brings': 2499,
 'good': 7964,
 'cowboy': 4075,
 'romances': 16857,
 'mauricetourneur': 13086,
 'vivianmartin': 20164,
 'alecb': 523,
 'francis': 6943,
 'chesterbarnett': 3335,
 'gypwilliams': 8294,
 'simeonwiltsie': 17855,
 'waltermorton': 20331,
 'johnnyhines': 10605,
 'expelled': 6324,
 'giles': 7823,
 'meets': 13231,
 'college': 3715,
 'lady': 11338,
 'sessuehayakawa': 17581,
 'tsuruaoki': 19562,
 'frankborzage': 6983,
 'kisaburôkurihara': 11184,
 'henrykotani': 8905,
 'gladysbrockwell': 7875,
 'herschelmayall': 9004,
 'powerful': 15533,
 'cursed': 4211,
 'sailor': 17179,
 'convinces': 3954,
 'fisherman': 6691,
 'gods': 7941,
 'robertwarwick': 16766,
 'robertcummings': 16674,
 'fredericktruesdell': 7164,
 'ruthshepley': 17114,
 'flanagan': 6714,
 'waltercraven': 20308,
 'johnboone': 10506,
 'georgecummings': 7540,
 'thomasmottosborne': 19122,
 'pardoned': 14769,
 'robbing': 16640,
 'bank': 1649,
 'violasavoy': 20088,
 'herbertrice': 8961,
 'harrymarks': 8590,
 'louismerkle': 12087,

# Calculate Cosine similarity

In [29]:
#generating the cosine similarity matrix

cosine_sim = cosine_similarity(count_matrix, count_matrix)
cosine_sim

array([[1.        , 0.03450328, 0.27586342, ..., 0.03227486, 0.03450328,
        0.03131121],
       [0.03450328, 1.        , 0.02595871, ..., 0.03340766, 0.03571429,
        0.03241019],
       [0.27586342, 0.02595871, 1.        , ..., 0.02428215, 0.02595871,
        0.02355714],
       ...,
       [0.03227486, 0.03340766, 0.02428215, ..., 1.        , 0.03340766,
        0.09095086],
       [0.03450328, 0.03571429, 0.02595871, ..., 0.03340766, 1.        ,
        0.03241019],
       [0.03131121, 0.03241019, 0.02355714, ..., 0.09095086, 0.03241019,
        1.        ]])

# Recommend top n movies given a movie name

**Things to do:**
* Create empty list
* Get index of the movie that matches this title
* Find highest cosine_sim this title shares with other titles extracted earlier and save it in a Series
* Get indexes of the 'n' most similar movies
* Populate list with titles of n matching movies

In [30]:
#Lets build a function that takes in movie and recommends top n movies

def recommendations(title,n,cosine_sim = cosine_sim):
    recommended_movies = []
    
    #get index of the movie that matches the title
    idx = indices[indices == title].index[0]
    
    #find highest cosine_sim this title shares with other titles extracted earlier and save it in a Series
    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)
    
    #get indexes of the 'n' most similar movies
    top_n_indexes = list(score_series.iloc[1:n+1].index)
    print(top_n_indexes)
    
    #populating the list with titles of n matching movie
    for i in top_n_indexes:
        recommended_movies.append(list(data1.index)[i])
    return recommended_movies

In [31]:
#movie = input("Enter the movie name you wished to be recommended similar movies: ").lower()
movie = 'cleopatra'
#n = int(input("How many movies do you want to be recommended: "))
n = 10

In [32]:
movie

'cleopatra'

In [33]:
recommendations(movie, n)

[0, 2710, 170, 2904, 2899, 1576, 2245, 1230, 2987, 1824]

['the story of the kelly gang',
 'think fast, mr. moto',
 'victory',
 'mysterious mr. moto',
 'mr. moto takes a chance',
 'picture snatcher',
 'the crimes of stephen hawke',
 'dr. jekyll and mr. hyde',
 'tsuruhachi tsurujirô',
 'mrs. wiggs of the cabbage patch']

**What is the index of the movie you requested ?**

In [34]:
indices[indices == movie].index[0]

2

**What is the cosine similarity this movie shares with all other movies ?**

In [35]:
pd.Series(cosine_sim[indices[indices == movie].index[0]])

0       0.275863
1       0.025959
2       1.000000
3       0.025507
4       0.025078
          ...
2995    0.023557
2996    0.051014
2997    0.024282
2998    0.025959
2999    0.023557
Length: 3000, dtype: float64

***This is how we use NLP techniques to recommend movies based on their content.***